<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Blog</title>
  </head>
  <body>
    <h1>간단한 블로그 만들기</h1>
    <form action="/write">
      title : <input type="text" name="title" placeholder="title을 입력해주세요."><br>
      content : <input type="text" name="content" placeholder="content를 입력해주세요."><br>
      <input type="submit">
    </form>
  </body>
</html>
