<html>
  <head>
    <meta charset="utf-8">
    <title>write</title>
  </head>
  <body>
    <h1>text 등록되었습니다.</h1>
    <a href= "/">홈으로</a>
    <% @list.each do |e| %>
    <p><%= e %></p>
    <% end %>
  </body>
</html>
