<html>
  <head>
    <meta charset="utf-8">
    <title>write</title>
  </head>
  <body>
    <h1>text 등록되었습니다.</h1>
    <p>title : <%= @t %></p>
    <p>content : <%= @c %></p>
    <a href= "/">홈으로</a>
    <a href= "/show">Index</a>
  </body>
</html>
